export DISCORD_TOKEN=""
export DISCORD_ID=""
export DISCORD_OAUTH=""
export ADMIN_NICK=""
export ADMIN_ID=""
export TOKEN_TYPE=""
export TOKEN_TIME=
export CONSUMER_KEY=""
export CONSUMER_SECRET=""
export REFRESH_TOKEN=""
